<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login from location</title>

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/styles/account.css">

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap/bootstrap.js"></script>
</head>
<body>
	<div class="content">
		<div class="icon noselect">#</div>
		<p class="noselect"><span>Secure</span>Login</p>

		<ul class="greetings">
			<li>Hello <strong>{{ name }}</strong>,</li>
		</ul>
		
		<div class="man_loc">Manage locations</div>
		<ul class="locations">
			{% for locname in locations %}
			    <li>{{locname}} <img src="/static/images/close.svg" alt="Close"></li>
			{% endfor %}
		</ul>

		<div class="new-loc">Add location</div>
		
		<div class="desc">Drag the marker to set the location</div>

		<form method="post" action="/account">
			<input id="lat" name="lat" type="text">
			<input id="lng" name="lng" type="text">
			<input id="locname" name="locname" type="text" placeholder="Location name">
			<button id="mapsubmit" class="mapsubmit noselect" type="submit">SetLocation</button>
		</form>
		
		<div id="map"></div>


		<script>
			function initMap() {
	
			  	var init = {lat: {{ flat }}, lng: {{ flng }}};
			  	var map = new google.maps.Map(
			  	    document.getElementById('map'), {zoom: 18, center: init});
	
				var marker = new google.maps.Marker({
				    position: {
				    	lat: {{ flat }}, 
				    	lng: {{ flng }}
				    },
				    map: map,
				    draggable:true,
				    title:"Drag me!"
				});

				{% for pos in positions %}
					var stablemarker = new google.maps.Marker({
					    position: {{pos}},
					    map: map,
    					icon: {
    					  url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
    					}
					});
				{% endfor %}

				google.maps.event.addListener(marker, 'dragend', function (evt) {
				    document.getElementById('lat').value = evt.latLng.lat().toFixed(4);
				    document.getElementById('lng').value = evt.latLng.lng().toFixed(4);
  					var element = document.getElementById("mapsubmit");
  					element.classList.add("active");
  					element.classList.remove("noselect");
				});

  			}
    	</script>

    	<script async defer
    		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1ZzwzPziD8B231uiXVP3qyQaCbFYlWw&callback=initMap">
    	</script>
	</div>
</body>
</html>