<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login from location</title>
	<meta name="google-site-verification" content="DnzL6tfPAsp6xsVxB8jJ1lTbf-c0WE17ySbql2HChY4" />

	<meta http-equiv="refresh" content="2">

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/styles/main.css">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap/bootstrap.js"></script>
</head>
<body>
	<p><span>You have no access</span></p>
</body>
</html>